<form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          My Recipe
        </h1>
        <h2 class="subtitle">
          Best recipes web app
        </h2>
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" formControlName="recipeNameControl" type="text" placeholder="Find a Recipe">
          </p>
          <p class="control">
            <a class="button is-info" (click)="searchData()">
              Search
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</form>
<div class="container is-fluid">
  <mat-paginator (page)="getPage($event)" [length]="totalCount" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
  <div class="columns is-multiline">
    <div class="column is-one-quarter" *ngFor="let recipe of this.recipeList">
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>
  </div>
</div>