.recipe-card {
    max-width: 400px;
    min-width: 350px;
    margin: 10px;
}

.cover-image {
    margin: 0px;
    max-height: 250px;
}

.item-title {
    font-weight: 700;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mat-card-title {
  font-family: "Lora"
}
